@import "normalize";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Muli", sans-serif;
}

tspan {
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
}
