.blog {
  padding: 1rem;

  &__list {
    padding: 0 1rem;
  }

  &__list-item {
    list-style-type: none;
    margin-bottom: 3rem;
  }

  &__link {
    text-decoration: none;
    color: black;
    &:hover {
      .blog__read-more {
        text-decoration: underline;
        font-weight: 900;
      }
    }
  }
}
