.header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;

  &__link {
    margin-left: 1rem;
    color: black;
    text-decoration: none;

    &:hover {
      font-weight: 900;
    }
  }

  &__nav-links {
    margin-right: 0;
  }

  &__home-link {
    margin-left: 0;
    margin-right: auto;
    font-size: 1.2rem;

    &:hover {
      font-weight: 900;
    }
  }
}
